<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Contact</title>
</head>
<body>
<section>

<h1>this is contact section</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rem et 
veritatis amet beatae doloremque nisi possimus debitis cupiditate non molestias
 expedita ducimus ipsum nemo quaerat odit consectetur id quae perspiciatis itaque 
 error odio quia autem obcaecati sunt aliquam soluta. In vel eveniet itaque natus 
 eos iure dolorum quam nisi.</p>
</section>	
</body>
</html>