<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>footer template</title>
</head>
<body>
	
	<footer id="fragmentTag" th:fragment="footer1(title,subtitle)">
	<div class="container" >
	<h1 th:text="${title}"></h1>
	<h2 th:text="${subtitle}"></h2>
	<h1>Hello 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	 Quibusdam totam nam nostrum nisi inventore voluptatem hic 
	 provident fugit quo fugiat veritatis veniam laboriosam aliquam 
	 in repellat alias quidem culpa aliquid eius voluptates voluptate 
	 at expedita eligendi ab pariatur excepturi rerum magnam assumenda
	 molestiae ipsam? Voluptatum laborum culpa ad aperiam itaque?</p>
	</div>
	</footer>
	
	
</body>
</html>